# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
.venv_ollama/
ELKA/

# Dependency management
.Python
pip-log.txt
pip-delete-this-directory.txt

# Build artifacts
build/
dist/
downloads/
wheels/
.eggs/
*.egg-info/
.installed.cfg
*.egg

# C extensions
*.so

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
.tox/
.coverage
.coverage.*
htmlcov/
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Logs
*.log
logs/
celerybeat-schedule

# Translations
*.mo
*.pot

# Django/Flask
instance/
local_settings.py
.webassets-cache

# Scrapy
.scrapy/

# Jupyter Notebook
.ipynb_checkpoints/

# Documentation
docs/_build/
mkdocs.yml
/site

# PyBuilder
target/

# pyenv
.python-version

# IDE/Editor settings
.idea/
.vscode/
.spyderproject
.spy
